let mapleader = " "

set ic
set clipboard=unnamed

"# Delete
nnoremap d "_d
nnoremap D "_D
nnoremap x "_x
vnoremap x "_x

"# esc
imap df <esc>
vmap df <esc>

nnoremap <leader>q1 :q!<CR>
nnoremap <leader>qq :q<CR>
nnoremap <leader>W :w<CR>

"# Split windows
nnoremap <leader>sh :split<CR>
nnoremap <leader>sv :vsplit<CR>

"# Move windows
nnoremap <C-l> <C-w>l
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k

"# Tab
nnoremap > >>
nnoremap < <<
vnoremap > >gv
vnoremap < <gv

"# Goto
nnoremap <C-p> :action GotoFile<CR>
" nnoremap <C-c> :action GotoClass<CR>
" nnoremap <C-s> :action GotoSymbol<CR>

"# Move line
nnoremap ˚ :action MoveLineUp<CR>zz
nnoremap ∆ :action MoveLineDown<CR>zz
vnoremap ˚ :action MoveLineUp<CR>zz
vnoremap ∆ :action MoveLineDown<CR>zz
" MoveStatementUp, MoveStatementDown<CR>

nnoremap <leader>sn :action ActivateProjectToolWindow<CR>
nnoremap == :action ReformatCode<CR>

"# Plugin
set surround

set commentary

set easymotion
let g:EasyMotion_smartcase = 1
map <leader>e <Plug>(easymotion-prefix)

set multiple-cursors

nnoremap <leader>hu :action Git.CheckoutGroup<CR>

nnoremap <leader>sa :action Annotate<CR>
nnoremap <leader>sg :action Git.Menu<CR>
nnoremap <leader>sp :action com.jetbrains.python.console.RunPythonOrDebugConsoleAction<CR>

nnoremap <leader>s, f,wi<Return><esc>
nnoremap <leader>ss f<Space>wi<Return><esc>
nnoremap <leader>sb %cib<Return><C-r>"<esc>
nnoremap <leader>sB %ciB<Return><C-r>"<Return><esc>
